{
  "targetUrl": "https://1mx6lfypo8.execute-api.eu-central-1.amazonaws.com/default/",
  "apiKey": "< replace me >",
  "bucketName": "martin-linpack",
  "memorySizes": [
    128,
    256,
    512,
    768,
    1024,
    1280,
    1536,
    1792,
    2048,
    2304,
    2560,
    2816,
    3008
  ],
  "numberOfAWSExecutions": 0
}