# serverless directory
.serverless

# deployment package sizes
/deployment/

# gradle
.gradle
/build/
/bin/

# eclipse
.project
.classpath
/.settings/

# package
*.jar
*.war
*.ear
!/gradle/wrapper/gradle-wrapper.jar
