<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>SeMoDe - Benchmark</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link th:href="@{/css/semode.css}" rel="stylesheet"/>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div th:replace="fragments/header :: header">...</div>
<form class="stabFull" th:action="@{/setups/{name}/benchmark(name=${benchmarkConfig.setupName})}" method="POST"
      th:object="${benchmarkConfig}">
    <h3>Benchmark Configuration ID - <span id="benchmarkConfigID" th:text="${benchmarkConfig.id}"/>: <span
            id="setupName" th:text="${benchmarkConfig.setupName}"/></h3>
    <table class="table table-sm">
        <tr>
            <td><label>For Setup</label></td>
            <td><input readonly="readonly"
                       th:field="*{setupName}"/></td>
        </tr>
        <tr>
            <td>Versions</td>
            <td>
                <select id="benchmarkVersions">
                    <option th:each="version: ${benchmarkingVersions}" th:value="${version.versionNumber}"
                            th:text="${version.versionNumber + ' - Platform events: ' + version.performanceEvents  + ' ('+ version.id + ')'}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <textarea id="benchmarkDescription" name="benchmarkDescription" rows="5" cols="40"
                          th:field="*{description}" onblur="updateDescription()">
                </textarea>
            </td>
        </tr>
        <tr>
            <td>Version Visible</td>
            <td>
                <input type="checkbox" id="versionVisible" th:checked="*{versionVisible}"/>
                <span id="versionVisibleText"></span>
            </td>
        </tr>
        <tr>
            <td>Benchmarking Mode:</td>
            <td>
                <select id="benchmarkingMode"
                        th:field="*{benchmarkMode}">
                    <option value="">-- Select an option --</option>
                    <option th:each="mode: ${benchmarkingModes}" th:value="${mode.text}"
                            th:text="${mode.text}"></option>
                </select>
                <br/>
                <label id="benchmarkInfoLabel"></label>
            </td>
        </tr>
        <tr>
            <td><label id="benchmarkingParams">Benchmarking Parameters</label></td>
            <td><input id="benchmarkParamsInput" name="benchmarkParameters"
                       th:field="*{benchmarkParameters}"/></td>
        </tr>
        <tr>
            <td>Post Body Argument (JSON)</td>
            <td><textarea id="requestBody" rows="5" cols="40"
                          th:field="*{postArgument}"></textarea></td>
        </tr>
        <tr>
            <td>Experiment Time</td>
            <td><span id="benchmarkExperimentDesign"
                      th:text="${benchmarkConfig.startTime + ' - ' + benchmarkConfig.endTime}"/></td>
        </tr>
        <tbody>
        </tbody>
    </table>
    <div class="stabY">
        <h5>AWS specific Benchmark Settings - Function Configuration</h5>
        <table class="table table-sm">
            <tr>
                <td>Description/Function Name</td>
                <td><input id="awsBenchmarkDescription"
                           th:readonly="${benchmarkConfig.deployed}"
                           th:field="*{awsBenchmarkConfig.awsDescription}"/></td>
            </tr>
            <tr>
                <td>Region</td>
                <td><input id="awsBenchmarkConfigRegion"
                           th:readonly="${benchmarkConfig.deployed}"
                           th:field="*{awsBenchmarkConfig.region}"/></td>
            </tr>
            <tr>
                <td>Runtime</td>
                <td><input id="awsBenchmarkConfigRuntime"
                           th:readonly="${benchmarkConfig.deployed}"
                           th:field="*{awsBenchmarkConfig.runtime}"/></td>
            </tr>
            <tr>
                <td>AWS ARN Lambda Role</td>
                <td><input id="awsBenchmarkConfigARNRole"
                           th:readonly="${benchmarkConfig.deployed}"
                           th:field="*{awsBenchmarkConfig.awsArnLambdaRole}"/></td>
            </tr>
            <tr>
                <td>Handler Class Name</td>
                <td><input id="awsBenchmarkConfigHandlerName"
                           th:readonly="${benchmarkConfig.deployed}"
                           th:field="*{awsBenchmarkConfig.functionHandler}"/></td>
            </tr>
            <tr>
                <td>Timeout in Seconds</td>
                <td><input id="awsBenchmarkConfigTimeout"
                           th:readonly="${benchmarkConfig.deployed}"
                           th:field="*{awsBenchmarkConfig.timeout}"/></td>
            </tr>
            <tr>
                <td>Memory Sizes (comma separated List)</td>
                <td><input id="awsBenchmarkConfigMemorySizes"
                           th:readonly="${benchmarkConfig.deployed}"
                           th:field="*{awsBenchmarkConfig.memorySizes}"/></td>
            </tr>
            <tr>
                <td>Path to ZIP Source (locally on your computer)</td>
                <td><input id="awsBenchmarkConfigPathToZip"
                           th:readonly="${benchmarkConfig.deployed}"
                           th:field="*{awsBenchmarkConfig.pathToSource}"/></td>
            </tr>
        </table>
    </div>
    <div class="stabY">
        <h5>AWS specific Benchmark Settings - Deployment Internals</h5>
        <table class="table table-sm">
            <tr>
                <td>Target URL (filled by the tool)</td>
                <td><input id="awsBenchmarkConfigTargetUrl"
                           readonly="readonly"
                           th:field="*{awsBenchmarkConfig.targetUrl}"/></td>
            </tr>
            <tr>
                <td>API Key (filled by the tool)</td>
                <td><input id="awsBenchmarkConfigApiKey"
                           readonly="readonly"
                           th:field="*{awsBenchmarkConfig.apiKey}"/>
                </td>
            </tr>
            <tr>
                <td>REST API ID (filled by the tool)</td>
                <td><input id="awsBenchmarkConfigRestApiId"
                           readonly="readonly"
                           th:field="*{awsBenchmarkConfig.restApiId}"/></td>
            </tr>
            <tr>
                <td>API Key ID (filled by the tool)</td>
                <td><input id="awsBenchmarkConfigApiKeyId"
                           readonly="readonly"
                           th:field="*{awsBenchmarkConfig.apiKeyId}"/></td>
            </tr>
            <tr>
                <td>Usage Plan ID (filled by the tool)</td>
                <td><input id="awsBenchmarkConfigUsagePlanId"
                           readonly="readonly"
                           th:field="*{awsBenchmarkConfig.usagePlanId}"/></td>
            </tr>
        </table>

    </div>

    <div class="stabY">
        <h5>OpenFaaS Benchmark Settings</h5>
        <table class="table table-sm">
            <tr>
                <td>Base URL for log files</td>
                <td><input id="openFaaSBaseUrl"
                           th:field="*{openFaasBenchmarkConfig.openFaaSBaseUrl}"/></td>
            </tr>
            <tr>
                <td>Resource settings (comma separated)</td>
                <td><input id="openFaaSResourceSetting"
                           th:field="*{openFaasBenchmarkConfig.openFaaSResourceSetting}"/></td>
            </tr>
            <tr>
                <td>Number of runs</td>
                <td><input id="openFaaSNumberOfRuns"
                           th:field="*{openFaasBenchmarkConfig.openFaaSNumberOfRuns}"/></td>
            </tr>
        </table>
    </div>

    <div class="py-1 px-1">
        <button id="updateBenchmarkConfigButton" class="btn btn-dark py-1 px-1" style="width:200px">Update
            configuration
        </button>
    </div>
</form>

<div class="stabX py-1">
    <h5>Benchmark Points (precise Duration on Provider)</h5>
    <div class="canvas">
        <canvas id="benchmarkChart"></canvas>
        <button class="btn btn-dark py-1 px-1" style="width:200px" id="removeDataset">Remove Dataset</button>
    </div>
</div>

<div class="stabX py-1">
    <h5>Pipeline Commands</h5>
    <button class="btn btn-dark py-1 px-1" style="width:200px" id="deployFunction">Deploy (AWS)</button>
    <span id="deployButtonInfo"></span>
</div>
<div class="stabX py-1">
    <button class="btn btn-dark py-1 px-1" style="width:200px" id="undeployFunction">Undeploy (AWS)</button>
    <span id="undeployButtonInfo"></span>
</div>
<div class="stabX py-1">
    <button class="btn btn-dark py-1 px-1" style="width:200px" id="executeBenchmark">Execute Benchmark (AWS)</button>
    <span id="executeButtonInfo"></span>
</div>
<div class="stabX py-1">
    <button class="btn btn-dark py-1 px-1" style="width:200px" id="fetchData">Fetch Data (AWS)</button>
    <span id="fetchButtonInfo"></span>
</div>
<div class="stabX py-1">
    <button class="btn btn-dark py-1 px-1" style="width:200px" id="fetchDataOpenFaas">Fetch Data (OpenFaaS)</button>
    <span id="fetchDataOpenFaasInfo"></span>
</div>


<div th:replace="fragments/footer :: footer">...</div>
<script th:src="@{/js/node_modules/chart.js/dist/chart.js}"></script>
<script type="text/javascript" th:src="@{/js/benchmark.js}"></script>

</body>
</html>