<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>SeMoDe - Benchmark</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div th:replace="fragments/header :: header">...</div>
<form th:action="@{/setups/{name}/benchmark(name=${benchmarkConfig.setupName})}" method="POST"
      th:object="${benchmarkConfig}">
    <h3>Benchmark Configuration</h3>
    <table class="table table-sm">
        <tr>
            <td><label>For Setup</label></td>
            <td><input readonly="readonly"
                       th:field="*{setupName}"/></td>
        </tr>
        <tr>
            <td>Versions</td>
            <td>
                <select id="benchmarkVersions">
                    <option th:each="version: ${benchmarkingVersions}" th:value="${version.versionNumber}"
                            th:text="${version.versionNumber + ' - Local events: ' + version.numberOfLocalDbEvents + ' - Fetched events: ' + version.numberOfFetchedData}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Benchmarking Mode:</td>
            <td>
                <select id="benchmarkingMode"
                        th:field="*{benchmarkMode}">
                    <option value="">-- Select an option --</option>
                    <option th:each="mode: ${benchmarkingModes}" th:value="${mode.text}"
                            th:text="${mode.text}"></option>
                </select>
                <br/>
                <label id="benchmarkInfoLabel"></label>
            </td>
        </tr>
        <tr>
            <td><label id="benchmarkingParams">Benchmarking Parameters</label></td>
            <td><input name="benchmarkParameters"
                       th:field="*{benchmarkParameters}"/></td>
        </tr>
        <tr>
            <td>Post Body Argument (JSON)</td>
            <td><textarea rows="5" cols="40"
                          th:field="*{postArgument}"></textarea></td>
        </tr>
        <tbody>
        </tbody>
    </table>
    <h5>AWS specific Benchmark Settings - Function Configuration</h5>
    <table class="table table-sm">
        <tr>
            <td>Region</td>
            <td><input th:readonly="${benchmarkConfig.deployed}"
                       th:field="*{awsBenchmarkConfig.region}"/></td>
        </tr>
        <tr>
            <td>Runtime</td>
            <td><input th:readonly="${benchmarkConfig.deployed}"
                       th:field="*{awsBenchmarkConfig.runtime}"/></td>
        </tr>
        <tr>
            <td>AWS ARN Lambda Role</td>
            <td><input th:readonly="${benchmarkConfig.deployed}"
                       th:field="*{awsBenchmarkConfig.awsArnLambdaRole}"/></td>
        </tr>
        <tr>
            <td>Handler Class Name</td>
            <td><input th:readonly="${benchmarkConfig.deployed}"
                       th:field="*{awsBenchmarkConfig.functionHandler}"/></td>
        </tr>
        <tr>
            <td>Timeout in Seconds</td>
            <td><input th:readonly="${benchmarkConfig.deployed}"
                       th:field="*{awsBenchmarkConfig.timeout}"/></td>
        </tr>
        <tr>
            <td>Memory Sizes (comma separated List)</td>
            <td><input th:readonly="${benchmarkConfig.deployed}"
                       th:field="*{awsBenchmarkConfig.memorySizes}"/></td>
        </tr>
        <tr>
            <td>Path to ZIP Source (locally on your computer)</td>
            <td><input th:readonly="${benchmarkConfig.deployed}"
                       th:field="*{awsBenchmarkConfig.pathToSource}"/></td>
        </tr>
    </table>

    <h5>AWS specific Benchmark Settings - Deployment Internals</h5>
    <table class="table table-sm">
        <tr>
            <td>Target URL (filled by the tool)</td>
            <td><input readonly="readonly"
                       th:field="*{awsBenchmarkConfig.targetUrl}"/></td>
        </tr>
        <tr>
            <td>API Key (filled by the tool)</td>
            <td><input readonly="readonly" th:field="*{awsBenchmarkConfig.apiKey}"/>
            </td>
        </tr>
        <tr>
            <td>REST API ID (filled by the tool)</td>
            <td><input readonly="readonly"
                       th:field="*{awsBenchmarkConfig.restApiId}"/></td>
        </tr>
        <tr>
            <td>API Key ID (filled by the tool)</td>
            <td><input readonly="readonly"
                       th:field="*{awsBenchmarkConfig.apiKeyId}"/></td>
        </tr>
        <tr>
            <td>Usage Plan ID (filled by the tool)</td>
            <td><input readonly="readonly"
                       th:field="*{awsBenchmarkConfig.usagePlanId}"/></td>
        </tr>
    </table>
    <div class="py-1 px-1">
        <button class="btn btn-dark py-1 px-1">Update configuration</button>
    </div>
</form>

<button id="deployFunction">Deploy</button>
<button id="undeployFunction">Undeploy</button>
<button id="executeBenchmark">Execute Benchmark</button>
<button id="fetchData">Fetch Data</button>
<div th:replace="fragments/footer :: footer">...</div>
<script type="text/javascript" th:src="@{/js/benchmark.js}"></script>
</body>
</html>