<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>SeMoDe - Benchmark</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link th:href="@{/css/semode.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div th:replace="fragments/header :: header">...</div>
<form class="stabFull" th:action="@{/setups/{name}/calibration(name=${calibrationConfig.setupName})}" method="POST"
      th:object="${calibrationConfig}">
    <h3>Calibration Configuration <span id="calibrationConfigID" th:text="${calibrationConfig.id}"/></h3>
    <table class="table table-sm">
        <tr>
            <td><label>For Setup</label></td>
            <td><input id="setupName"
                       readonly="readonly"
                       th:field="*{setupName}"/></td>
        </tr>
        <tr>
            <td>Versions</td>
            <td>
                <select id="calibrationVersions">
                    <option th:each="version: ${#numbers.sequence(calibrationConfig.versionNumber, 1)}"
                            th:value="${version}"
                            th:text="${version}"></option>
                </select>
            </td>
        </tr>
    </table>
    <div class="stabY">
        <h5>Local Configuration</h5>
        <table class="table table-sm">
            <div id="calibrationLocalSettings">
                <tr>
                    <td>Local Steps in which CPU share is increased (e.g. 0.1)</td>
                    <td><input id="localSteps"
                               th:field="*{localConfig.localSteps}"/></td>
                </tr>
                <tr>
                    <td>Number of local calibrations</td>
                    <td><input id="numberOfLocalCalibration"
                               th:field="*{localConfig.numberOfLocalCalibrations}"/></td>
                </tr>
                <tr>
                    <td>Docker Source Folder(Dockerfile location)</td>
                    <td><input id="localCalibrationDockerSourceFolder"
                               th:field="*{localConfig.calibrationDockerSourceFolder}"/></td>
                </tr>
            </div>
        </table>
    </div>
    <div class="stabY">
        <h5>AWS Configuration</h5>
        <table class="table table-sm">
            <div id="awsCalibrationSettings">
                <tr>
                    <td>Bucket name to store calibration to</td>
                    <td><input id="awsBucketName"
                               th:readonly="${calibrationConfig.deployed}"
                               th:field="*{awsCalibrationConfig.bucketName}"/></td>
                </tr>
                <tr>
                    <td>Number of aws executions</td>
                    <td><input id="numberOfAWSExecutions"
                               th:readonly="${calibrationConfig.deployed}"
                               th:field="*{awsCalibrationConfig.numberOfAWSExecutions}"/></td>
                </tr>
                <tr>
                    <td>Region</td>
                    <td><input id="awsRegion"
                               th:readonly="${calibrationConfig.deployed}"
                               th:field="*{awsCalibrationConfig.benchmarkConfig.region}"/></td>
                </tr>
                <tr>
                    <td>Runtime</td>
                    <td><input id="awsRuntime"
                               th:readonly="${calibrationConfig.deployed}"
                               th:field="*{awsCalibrationConfig.benchmarkConfig.runtime}"/></td>
                </tr>
                <tr>
                    <td>AWS ARN Lambda Role</td>
                    <td><input id="awsLambdaRole"
                               th:readonly="${calibrationConfig.deployed}"
                               th:field="*{awsCalibrationConfig.benchmarkConfig.awsArnLambdaRole}"/>
                    </td>
                </tr>
                <tr>
                    <td>Handler Class Name</td>
                    <td><input id="awsHandlerName"
                               th:readonly="${calibrationConfig.deployed}"
                               th:field="*{awsCalibrationConfig.benchmarkConfig.functionHandler}"/>
                    </td>
                </tr>
                <tr>
                    <td>Timeout in Seconds</td>
                    <td><input id="awsTimeout"
                               th:readonly="${calibrationConfig.deployed}"
                               th:field="*{awsCalibrationConfig.benchmarkConfig.timeout}"/></td>
                </tr>
                <tr>
                    <td>Memory Sizes (comma separated List)</td>
                    <td><input id="awsMemorySizes"
                               th:readonly="${calibrationConfig.deployed}"
                               th:field="*{awsCalibrationConfig.benchmarkConfig.memorySizes}"/></td>
                </tr>
                <tr>
                    <td>Path to ZIP Source (locally on your computer)</td>
                    <td><input id="awsPathToZip"
                               th:readonly="${calibrationConfig.deployed}"
                               th:field="*{awsCalibrationConfig.benchmarkConfig.pathToSource}"/></td>
                </tr>
                <tr>
                    <td>Target URL (filled by the tool)</td>
                    <td><input id="awsTargetUrl"
                               readonly="readonly"
                               th:field="*{awsCalibrationConfig.benchmarkConfig.targetUrl}"/></td>
                </tr>
                <tr>
                    <td>API Key (filled by the tool)</td>
                    <td><input id="awsApiKey"
                               readonly="readonly"
                               th:field="*{awsCalibrationConfig.benchmarkConfig.apiKey}"/>
                    </td>
                </tr>
            </div>
        </table>
    </div>

    <div class="stabY">
        <h5>AWS specific Benchmark Settings - Deployment Internals</h5>
        <table class="table table-sm">
            <tr>
                <td>REST API ID (filled by the tool)</td>
                <td><input id="awsRestApiId"
                           readonly="readonly"
                           th:field="*{awsCalibrationConfig.benchmarkConfig.restApiId}"/></td>
            </tr>
            <tr>
                <td>API Key ID (filled by the tool)</td>
                <td><input id="awsApiKeyId"
                           readonly="readonly"
                           th:field="*{awsCalibrationConfig.benchmarkConfig.apiKeyId}"/></td>
            </tr>
            <tr>
                <td>Usage Plan ID (filled by the tool)</td>
                <td><input id="awsUsagePlanId"
                           readonly="readonly"
                           th:field="*{awsCalibrationConfig.benchmarkConfig.usagePlanId}"/></td>
            </tr>

        </table>
    </div>
    <div class="stabY">
        <h5>Mapping Calibration Configuration</h5>
        <table class="table table-sm">
            <tr>
                <td th:text="${'Local calibration configuration (Current ID: ' + (calibrationConfig.mappingCalibrationConfig.localCalibration != null ? calibrationConfig.mappingCalibrationConfig.localCalibration.id : '-') + ')' }"/>
                <td>
                    <select id="localCalibrationConfig"
                            th:field="*{mappingCalibrationConfig.localCalibrationId}">
                        <option th:value="${(calibrationConfig.mappingCalibrationConfig.localCalibration != null ? calibrationConfig.mappingCalibrationConfig.localCalibration.id : 0)}">
                            -- Select an option --
                        </option>
                        <option th:each="key: ${localCalibrations.keySet()}" th:value="${key}"
                                th:text="${'Id:' + key + ' - ' + localCalibrations.get(key)}"></option>
                    </select>
                    <span id="localCalibrationFunction"></span>
                </td>
            </tr>
            <td th:text="${'Provider calibration configuration (Current ID: ' + (calibrationConfig.mappingCalibrationConfig.providerCalibration != null ? calibrationConfig.mappingCalibrationConfig.providerCalibration.id : '-' ) + ')' }"></td>
            <td>
                <select id="providerCalibrationConfig"
                        th:field="*{mappingCalibrationConfig.providerCalibrationId}">
                    <option th:value="${(calibrationConfig.mappingCalibrationConfig.providerCalibration != null ? calibrationConfig.mappingCalibrationConfig.providerCalibration.id : 0 )}">
                        -- Select an option --
                    </option>
                    <option th:each="key: ${providerCalibrations.keySet()}" th:value="${key}"
                            th:text="${'Id:' + key + ' - ' + providerCalibrations.get(key)}"></option>
                </select>
                <span id="providerCalibrationFunction"></span>
            </td>
            <tr>
                <td>Memory Sizes on Provider Platform (comma separated)</td>
                <td><input
                        id="mappingProviderPlatform"
                        th:field="*{mappingCalibrationConfig.memorySizesCalibration}"/></td>
            </tr>
            <tr>
                <td>GFLOPS to compute the resource setting on provider (comma separated)</td>
                <td><input
                        id="gflopsSizesCalibration"
                        th:field="*{mappingCalibrationConfig.gflopsSizesCalibration}"/>
                    <span id="gflopsSizesCalibrationInfo"></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="stabY">
        <h5>OpenFaaS Configuration</h5>
        <table class="table table-sm">
            <div id="openFaasSettings">
                <tr>
                    <td>Base URL, e.g. http://localhost:8080/functions/</td>
                    <td><input id="openFaasBaseURL"
                               th:field="*{openFaasConfig.baseUrl}"/></td>
                </tr>
                <tr>
                    <td>Function name</td>
                    <td><input id="openFaasFunctionname"
                               th:field="*{openFaasConfig.functionName}"/></td>
                </tr>
                <tr>
                    <td>Number of OpenFaaS calibrations</td>
                    <td><input id="numberOfOpenFaasCalibration"
                               th:field="*{openFaasConfig.numberOfCalibrations}"/></td>
                </tr>
                <tr>
                    <td>Increments (steps in which CPU is incremented)</td>
                    <td><input id="openFaasIncrements"
                               th:field="*{openFaasConfig.increments}"/></td>
                </tr>
                <tr>
                    <td>Username - Docker Hub</td>
                    <td><input id="dockerHubUsername"
                               th:field="*{openFaasConfig.dockerUsername}"/></td>
                </tr>
                <tr>
                    <td>Username - Basic Auth</td>
                    <td><input id="openFaasUsername"
                               th:field="*{openFaasConfig.username}"/></td>
                </tr>
                <tr>
                    <td>Password - Basic Auth</td>
                    <td><input id="openFaasPassword"
                               th:field="*{openFaasConfig.password}"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><a class="btn btn-dark py-0"
                           th:href="@{calibration/{id}/version/{version}/stack.yml
                           (id=${calibrationConfig.id},version=${calibrationConfig.versionNumber})}">
                        Generate and Download stack.yml</a>
                </tr>
                <tr>
                    <td>File Transfer Base URL</td>
                    <td><input id="fileTransferURL"
                               th:field="*{openFaasConfig.fileTransferURL}"/></td>
                </tr>

            </div>
        </table>
    </div>

    <div class="stabX py-1">
        <h5>Machine Configuration</h5>
        <table class="table table-sm">
            <tr>
                <td>Machine Name</td>
                <td><input
                        id="machineName"
                        th:field="*{machineConfig.machineName}"/></td>
            </tr>
            <tr>
                <td>CPU Model Name</td>
                <td><input
                        id="cpuModelName"
                        th:field="*{machineConfig.cpuModelName}"/></td>
            </tr>
            <tr>
                <td>Model Number</td>
                <td><input
                        id="modelNr"
                        th:field="*{machineConfig.modelNr}"/></td>
            </tr>
            <tr>
                <td>Operating System and Version</td>
                <td><input
                        id="operatingSystem"
                        th:field="*{machineConfig.operatingSystem}"/></td>
            </tr>
        </table>
    </div>
    <div class="stabX py-1">
        <div class="canvas">
            <h5>Local Calibration Configuration</h5>
            <canvas id="localCalibrationChart"></canvas>
            <button type="button" class="btn btn-dark py-1 px-1" style="width:200px"
                    id="removeDatasetLocalCalibration">
                Remove Dataset
            </button>
        </div>

        <div class="canvas">
            <h5>Provider Calibration Configuration</h5>
            <canvas id="providerCalibrationChart"></canvas>
            <button type="button" class="btn btn-dark py-1 px-1" style="width:200px"
                    id="removeDatasetProviderCalibration">
                Remove
                Dataset
            </button>
        </div>
    </div>
    <div class="stabY">
        <h5>Run function locally with computed CPU share</h5>
        <table class="table table-sm">
            <tr>
                <td>Folder, where the function and Dockerfile is located</td>
                <td><input id="runConfigDockerSourceFolder"
                           th:field="*{runningCalibrationConfig.functionDockerSourceFolder}"/></td>
            </tr>
            <tr>
                <td>Environment variable file</td>
                <td><input id="runConfigEnvironmentVariableFile"
                           th:field="*{runningCalibrationConfig.environmentVariablesFile}"/></td>
            </tr>
            <tr>
                <td>Number of Profiles</td>
                <td><input id="runConfigNumberOfProfiles"
                           th:field="*{runningCalibrationConfig.numberOfProfiles}"/></td>
            </tr>
            <tr>
                <td>Previous Profiles</td>
                <td>
                    <select id="executedProfilesSelection">
                        <option value="0"> --- Select an Option ---</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="stabX py-1">
            <h5>Profiles for Selected Calibration</h5>
            <div class="canvas">
                <canvas id="profilesChart"></canvas>
                <button type="button" class="btn btn-dark py-1 px-1" style="width:200px" id="removeDatasetProfiles">
                    Remove Dataset
                </button>
            </div>
        </div>
    </div>
    <div class="py-1 px-1">
        <button class="btn btn-dark py-1 px-1" style="width:200px">Update configuration</button>
    </div>

</form>

<div class="stabX py-1">
    <h5>Pipeline Commands</h5>
    <button class="btn btn-dark py-1 px-1" style="width:200px" id="startLocalCalibration">Start Local Calibration
    </button>
    <span id="startLocalCalibrationInfo"></span>
</div>
<div class="stabX py-1">
    <h5>Pipeline Commands</h5>
    <button class="btn btn-dark py-1 px-1" style="width:200px" id="startOpenFaasCalibration">Start OpenFaaS Calibration
    </button>
    <span id="startOpenFaasCalibrationInfo"></span>
</div>
<div class="stabX py-1">
    <button id="deployCalibration" class="btn btn-dark py-1 px-1" style="width:200px">Deploy AWS Calibration</button>
    <span id="deployCalibrationInfo"></span>
</div>
<div class="stabX py-1">
    <button id="startCalibration" class="btn btn-dark py-1 px-1" style="width:200px">Start AWS Calibration</button>
    <span id="startCalibrationInfo"></span>
</div>
<div class="stabX py-1">
    <button id="undeployCalibration" class="btn btn-dark py-1 px-1" style="width:200px">Undeploy AWS Calibration
    </button>
    <span id="undeployCalibrationInfo"></span>
</div>
<div class="stabX py-1">
    <button id="computeMapping" class="btn btn-dark py-1 px-1" style="width:200px">Mapping (INFO only)</button>
    <span id="computeMappingInfo"></span>
</div>
<div class="stabX py-1">
    <button id="runFunction" class="btn btn-dark py-1 px-1" style="width:200px">Run function locally</button>
    <span id="runFunctionInfo"></span>
</div>


<div th:replace="fragments/footer :: footer">...</div>
<script th:src="@{/js/node_modules/chart.js/dist/chart.js}"></script>
<script type="text/javascript" th:src="@{/js/calibration.js}"></script>
</body>
</html>