<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>SeMoDe</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link th:href="@{/css/semode.css}" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="fragments/header :: header">...</div>

<div class="stabFull table-responsive">
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Delete</th>
            <!--<th scope="col">Last</th>-->
            <!--<th scope="col">Handle</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="setup : ${setups}">
            <td><a th:href="@{/setups/{name}(name=${setup})}">
                <div th:text="${setup}"></div>
            </a></td>
            <td>
                <form th:action="@{/setups/{name}/delete(name=${setup})}">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <button class="btn btn-dark py-0">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="stabFull">
    <form th:action="@{/setups}" method="POST">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        Setup Name: <input name="setupName" th:object="${setupName}" type="text"/>
        <button class="btn btn-dark py-0">Create</button>
    </form>
</div>

<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>