<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Movie Service</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div th:replace="fragments/header :: header">...</div>

<div class="table-responsive">
    <form th:action="@{/setups/{name}/update(name=${setupConfig.setupName})}" method="POST" th:object="${setupConfig}">
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">
                    <input readonly="readonly" name="setupName" th:field="*{setupName}"/>
                </th>
            </tr>
            <tr>
                <td>Deployed</td>
                <td><input readonly="readonly" name="setupName" th:field="*{deployed}"/></td>
            </tr>
            </thead>
        </table>
        <h3>Benchmark Configuration</h3>
        <table class="table table-sm">
            <tr>
                <td>Benchmarking Mode:</td>
                <td>
                    <select th:disabled="${setupConfig.deployed}" id="benchmarkingMode"
                            th:field="*{benchmarkConfig.benchmarkMode}">
                        <option value="">-- Select an option --</option>
                        <option th:each="mode: ${benchmarkingModes}" th:value="${mode.text}"
                                th:text="${mode.text}"></option>
                    </select>
                    <br/>
                    <label id="benchmarkInfoLabel"></label>
                </td>
            </tr>
            <tr>
                <td><label id="benchmarkingParams">Benchmarking Parameters</label></td>
                <td><input th:readonly="${setupConfig.deployed}" name="benchmarkParameters"
                           th:field="*{benchmarkConfig.benchmarkParameters}"/></td>
            </tr>
            <tr>
                <td>Post Body Argument (JSON)</td>
                <td><textarea th:readonly="${setupConfig.deployed}" rows="10" cols="40"
                              th:field="*{benchmarkConfig.postArgument}"></textarea></td>
            </tr>
            <tbody>
            </tbody>
        </table>
        <h5>AWS specific Benchmark Settings - Function Configuration</h5>
        <table class="table table-sm">
            <tr>
                <td>Region</td>
                <td><input th:readonly="${setupConfig.deployed}"
                           th:field="*{benchmarkConfig.awsBenchmarkConfig.functionConfig.region}"/></td>
            </tr>
            <tr>
                <td>Runtime</td>
                <td><input th:readonly="${setupConfig.deployed}"
                           th:field="*{benchmarkConfig.awsBenchmarkConfig.functionConfig.runtime}"/></td>
            </tr>
            <tr>
                <td>AWS ARN Lambda Role</td>
                <td><input th:readonly="${setupConfig.deployed}"
                           th:field="*{benchmarkConfig.awsBenchmarkConfig.functionConfig.awsArnLambdaRole}"/></td>
            </tr>
            <tr>
                <td>Handler Class Name</td>
                <td><input th:readonly="${setupConfig.deployed}"
                           th:field="*{benchmarkConfig.awsBenchmarkConfig.functionConfig.functionHandler}"/></td>
            </tr>
            <tr>
                <td>Timeout in Seconds</td>
                <td><input th:readonly="${setupConfig.deployed}"
                           th:field="*{benchmarkConfig.awsBenchmarkConfig.functionConfig.timeout}"/></td>
            </tr>
            <tr>
                <td>Memory Sizes (comma separated List)</td>
                <td><input th:readonly="${setupConfig.deployed}"
                           th:field="*{benchmarkConfig.awsBenchmarkConfig.functionConfig.memorySizes}"/></td>
            </tr>
            <tr>
                <td>Path to ZIP Source (locally on your computer)</td>
                <td><input th:readonly="${setupConfig.deployed}"
                           th:field="*{benchmarkConfig.awsBenchmarkConfig.functionConfig.pathToSource}"/></td>
            </tr>
            <tr>
                <td>Target URL (filled by the tool)</td>
                <td><input readonly="readonly"
                           th:field="*{benchmarkConfig.awsBenchmarkConfig.functionConfig.targetUrl}"/></td>
            </tr>
            <tr>
                <td>API Key (filled by the tool)</td>
                <td><input readonly="readonly" th:field="*{benchmarkConfig.awsBenchmarkConfig.functionConfig.apiKey}"/>
                </td>
            </tr>
        </table>
        <h5>AWS specific Benchmark Settings - Deployment Internals</h5>
        <table class="table table-sm">
            <tr>
                <td>REST API ID (filled by the tool)</td>
                <td><input readonly="readonly"
                           th:field="*{benchmarkConfig.awsBenchmarkConfig.deploymentInternals.restApiId}"/></td>
            </tr>
            <tr>
                <td>API Key ID (filled by the tool)</td>
                <td><input readonly="readonly"
                           th:field="*{benchmarkConfig.awsBenchmarkConfig.deploymentInternals.apiKeyId}"/></td>
            </tr>
            <tr>
                <td>Usage Plan ID (filled by the tool)</td>
                <td><input readonly="readonly"
                           th:field="*{benchmarkConfig.awsBenchmarkConfig.deploymentInternals.usagePlanId}"/></td>
            </tr>
        </table>

        <h3>Calibration Configuration</h3>
        <h5>Local Configuration</h5>
        <table class="table table-sm">
            <div id="calibrationLocalSettings">
                <tr>
                    <td>Local Steps in which CPU share is increased (e.g. 0.1)</td>
                    <td><input th:field="*{calibrationConfig.localConfig.localSteps}"/></td>
                </tr>
                <tr>
                    <td>Number of local calibrations</td>
                    <td><input th:field="*{calibrationConfig.localConfig.numberOfLocalCalibrations}"/></td>
                </tr>
                <tr>
                    <td>Enable local calibration</td>
                    <td><input th:field="*{calibrationConfig.localConfig.localEnabled}" type="checkbox"/>
                    </td>
                </tr>
                <tr>
                    <td>Docker Source Folder(Dockerfile location)</td>
                    <td><input th:field="*{calibrationConfig.localConfig.dockerSourceFolder}"/></td>
                </tr>
            </div>
        </table>
        <h5>AWS Configuration</h5>
        <table class="table table-sm">
            <div id="awsCalibrationSettings">
                <tr>
                    <td>Bucket name to store calibration to</td>
                    <td><input th:readonly="${setupConfig.calibrationDeployed}"
                               th:field="*{calibrationConfig.awsCalibrationConfig.bucketName}"/></td>
                </tr>
                <tr>
                    <td>Number of aws executions</td>
                    <td><input th:readonly="${setupConfig.calibrationDeployed}"
                               th:field="*{calibrationConfig.awsCalibrationConfig.numberOfAWSExecutions}"/></td>
                </tr>
                <tr>
                    <td>Region</td>
                    <td><input th:readonly="${setupConfig.calibrationDeployed}"
                               th:field="*{calibrationConfig.awsCalibrationConfig.functionConfig.region}"/></td>
                </tr>
                <tr>
                    <td>Runtime</td>
                    <td><input th:readonly="${setupConfig.calibrationDeployed}"
                               th:field="*{calibrationConfig.awsCalibrationConfig.functionConfig.runtime}"/></td>
                </tr>
                <tr>
                    <td>AWS ARN Lambda Role</td>
                    <td><input th:readonly="${setupConfig.calibrationDeployed}"
                               th:field="*{calibrationConfig.awsCalibrationConfig.functionConfig.awsArnLambdaRole}"/>
                    </td>
                </tr>
                <tr>
                    <td>Handler Class Name</td>
                    <td><input th:readonly="${setupConfig.calibrationDeployed}"
                               th:field="*{calibrationConfig.awsCalibrationConfig.functionConfig.functionHandler}"/>
                    </td>
                </tr>
                <tr>
                    <td>Timeout in Seconds</td>
                    <td><input th:readonly="${setupConfig.calibrationDeployed}"
                               th:field="*{calibrationConfig.awsCalibrationConfig.functionConfig.timeout}"/></td>
                </tr>
                <tr>
                    <td>Memory Sizes (comma separated List)</td>
                    <td><input th:readonly="${setupConfig.calibrationDeployed}"
                               th:field="*{calibrationConfig.awsCalibrationConfig.functionConfig.memorySizes}"/></td>
                </tr>
                <tr>
                    <td>Path to ZIP Source (locally on your computer)</td>
                    <td><input th:readonly="${setupConfig.calibrationDeployed}"
                               th:field="*{calibrationConfig.awsCalibrationConfig.functionConfig.pathToSource}"/></td>
                </tr>
                <tr>
                    <td>Target URL (filled by the tool)</td>
                    <td><input readonly="readonly"
                               th:field="*{calibrationConfig.awsCalibrationConfig.functionConfig.targetUrl}"/></td>
                </tr>
                <tr>
                    <td>API Key (filled by the tool)</td>
                    <td><input readonly="readonly"
                               th:field="*{calibrationConfig.awsCalibrationConfig.functionConfig.apiKey}"/>
                    </td>
                </tr>
            </div>
        </table>
        <h5>AWS specific Benchmark Settings - Deployment Internals</h5>
        <table class="table table-sm">
            <tr>
                <td>REST API ID (filled by the tool)</td>
                <td><input readonly="readonly"
                           th:field="*{calibrationConfig.awsCalibrationConfig.deploymentInternals.restApiId}"/></td>
            </tr>
            <tr>
                <td>API Key ID (filled by the tool)</td>
                <td><input readonly="readonly"
                           th:field="*{calibrationConfig.awsCalibrationConfig.deploymentInternals.apiKeyId}"/></td>
            </tr>
            <tr>
                <td>Usage Plan ID (filled by the tool)</td>
                <td><input readonly="readonly"
                           th:field="*{calibrationConfig.awsCalibrationConfig.deploymentInternals.usagePlanId}"/></td>
            </tr>

        </table>
        <div class="py-1 px-1">
            <button class="btn btn-dark py-1 px-1">Update configuration</button>
        </div>
    </form>
</div>

<button id="deployFunction">Deploy</button>
<label id="deployProgress"></label>

<button id="undeployFunction">Undeploy</button>
<button id="executeBenchmark">Execute Benchmark</button>
<button id="fetchData">Fetch Data</button>
<button id="startLocalCalibration">Start Local Calibration</button>
<button id="deployCalibration">Deploy Calibration</button>
<button id="startCalibration">Start Calibration</button>
<script type="text/javascript">

                    var selectElem = document.getElementById('benchmarkingMode')
                    var modeInfo = document.getElementById('benchmarkInfoLabel')
                    var benchmarkingParams = document.getElementById('benchmarkingParams');

                    // When a new <option> is selected
                    selectElem.addEventListener('change', function() {
                          var tag = selectElem.value;
                          if(selectElem.selectedIndex > 0) {
                              $.ajax({
                                url: "../benchmark/mode/" + tag,
                                success: function(result) {
                                    modeInfo.innerHTML = result.information;
                                    var parameters = "";
                                    for(let i = 0 ; i < result.parameters.length; i++){
                                        parameters = parameters + '<b>Parameter ' + i + ':</b> ' + result.parameters[i] + '<br/>';
                                        console.log(parameters);
                                    }
                                    benchmarkingParams.innerHTML = parameters;
                              }});
                          } else {
                              modeInfo.innerHTML = ""
                              benchmarkingParams.innerHTML = ""
                          }
                    });


                    var deployButton = document.getElementById('deployFunction')
                    var label = document.getElementById('deployProgress')

                    deployButton.addEventListener('click', function() {
                          console.log("deploy...")
                          var deployDecision = confirm("Do you really want to deploy the setup?")
                          if(deployDecision == true) {
                              $.ajax({
                                url: "/deploy",
                                success: function(result) {
                                    label.innerHTML = 'Refresh page to see the infos - deployment successful'
                              }});
                          }
                    });


                    var undeployButton = document.getElementById('undeployFunction')
                    undeployButton.addEventListener('click', function() {
                          console.log("deploy...")
                          var deployDecision = confirm("Do you really want to undeploy the setup?")
                          if(deployDecision == true) {
                              $.ajax({
                                url: "/undeploy",
                                success: function(result) {
                                    label.innerHTML = 'Refresh page to see the infos - undeployment successful'
                              }});
                          }
                    });

                    var executeBenchmark = document.getElementById('executeBenchmark')
                    executeBenchmark.addEventListener('click', function() {
                          var deployDecision = confirm("Do you really want to execute benchmark?")
                          if(deployDecision == true) {
                              $.ajax({
                                url: "/benchmark",
                                success: function(result) {
                                    label.innerHTML = 'Refresh page to see the infos - undeployment successful'
                              }});
                          }
                    });

                    var fetchData = document.getElementById('fetchData')
                    fetchData.addEventListener('click', function() {
                          var deployDecision = confirm("Do you really want to fetch benchmark?")
                          if(deployDecision == true) {
                              $.ajax({
                                url: "/fetch",
                                success: function(result) {
                                    label.innerHTML = 'Refresh page to see the infos - undeployment successful'
                              }});
                          }
                    });


var startLocalCalibration = document.getElementById('startLocalCalibration')
                    startLocalCalibration.addEventListener('click', function() {
                          var deployDecision = confirm("Do you really want to fetch benchmark?")
                          if(deployDecision == true) {
                              $.ajax({
                                url: "/calibration/start/local",
                                success: function(result) {
                                    label.innerHTML = 'Refresh page to see the infos - undeployment successful'
                              }});
                          }
                    });


                var deployCalibration = document.getElementById('deployCalibration')
                    deployCalibration.addEventListener('click', function() {
                          var deployDecision = confirm("Do you really want to deploy calibration?")
                          if(deployDecision == true) {
                              $.ajax({
                                url: "/calibration/deploy/aws",
                                success: function(result) {
                                    label.innerHTML = 'Refresh page to see the infos - undeployment successful'
                              }});
                          }
                    });


                var startCalibration = document.getElementById('startCalibration')
                    startCalibration.addEventListener('click', function() {
                          var deployDecision = confirm("Do you really want to deploy calibration?")
                          if(deployDecision == true) {
                              $.ajax({
                                url: "/calibration/start/aws",
                                success: function(result) {
                                    label.innerHTML = 'Refresh page to see the infos - undeployment successful'
                              }});
                          }
                    });
















</script>

<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>