<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Movie Service</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div th:replace="fragments/header :: header">...</div>

<div class="table-responsive">
    <form th:action="@{/setups/{name}/update(name=${setupConfig.setupName})}" method="POST" th:object="${setupConfig}">
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">
                    <input readonly="readonly" name="setupName" th:field="*{setupName}"/>
                </th>
                <!--<th scope="col">Last</th>-->
                <!--<th scope="col">Handle</th>-->
            </tr>
        </table>
        <h3>Benchmark Configuration</h3>
        <table class="table table-sm">
            <tr>
                <td>Concurrent Worker</td>
                <td><input name="concurrentWorker" th:field="*{benchmarkConfig.concurrentWorker}"/></td>
            </tr>
            <tr>
                <td>Benchmarking Mode:</td>
                <td>
                    <select id="benchmarkingMode" th:field="*{benchmarkConfig.benchmarkMode}">
                        <option value="">-- Select an option --</option>
                        <option th:each="mode: ${benchmarkingModes}" th:value="${mode.text}"
                                th:text="${mode.text}"></option>
                    </select>
                    <br/>
                    <label id="benchmarkInfoLabel"></label>
                </td>
            </tr>
            <tr>
                <td><label id="benchmarkingParams">Benchmarking Parameters</label></td>
                <td><input name="benchmarkParameters" th:field="*{benchmarkConfig.benchmarkParameters}"/></td>
                <script type="text/javascript">

                    var selectElem = document.getElementById('benchmarkingMode')
                    var modeInfo = document.getElementById('benchmarkInfoLabel')
                    var benchmarkingParams = document.getElementById('benchmarkingParams');

                    // When a new <option> is selected
                    selectElem.addEventListener('change', function() {
                          var tag = selectElem.value;
                          if(selectElem.selectedIndex > 0) {
                              $.ajax({
                                url: "../benchmark/mode/" + tag,
                                success: function(result) {
                                    modeInfo.innerHTML = result.information;
                                    var parameters = "";
                                    for(let i = 0 ; i < result.parameters.length; i++){
                                        parameters = parameters + '<b>Parameter ' + i + ':</b> ' + result.parameters[i] + '<br/>';
                                        console.log(parameters);
                                    }
                                    benchmarkingParams.innerHTML = parameters;
                              }});
                          } else {
                              modeInfo.innerHTML = ""
                              benchmarkingParams.innerHTML = ""
                          }
                    });

                </script>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button class="btn btn-dark py-0">Update configuration</button>
    </form>
</div>

<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>